*{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Bodoni Moda SC", serif;
    flex-shrink: 0;
    flex-wrap: wrap;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
}
body
{
background-color: rgb(0, 0, 0);
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;


}
.container{overflow: hidden; flex-wrap: nowrap; width: 70%; height: 70% ; background-color: rgba(255, 255, 255, 0.141); border-radius:16px ; -webkit-border-radius:16px ; -moz-border-radius:16px ; -ms-border-radius:16px ; -o-border-radius:16px ;padding: 30px 80px;margin-top: 100px; }
.navigation{
 
 display: flex;   
 justify-content: space-between;

}
ul{display: flex;gap: 40px;padding-right: 60px;}
a{text-transform: capitalize;}
.logo{letter-spacing: 3px;}

body::after{
    content: ' ' ;
    background-color: rgba(244, 39, 39, 0.878);
    width: 100%;
    height: 100%;
    position: absolute;

    clip-path: circle(30% at right 90% );
    z-index: -1;




}
.content{ display: flex;justify-content: space-between;align-items: center;flex-flow: row nowrap;height: 100%;}
.image{width: 450px;overflow: hidden;order: 1;margin-right: 30px;}
img{width: 450px ;}
.talk{width: 400px;display: flex;flex-wrap: wrap;flex-direction: column;}
h2{font-size: 40px;letter-spacing: 3px;font-weight: 700;}
p{font-size: 12px;letter-spacing: 2px;line-height: 23px;font-weight: lighter;}

@media (min-width:700px) and (max-width:1165px) {

    .image{width: 350px;overflow: hidden;display: flex;flex-flow: column wrap;padding-right: 10px;}
    img{width: 350px ;}
    .content{ display: flex;justify-content: center;align-items: center;flex-flow: column nowrap;height: 100%;}
    h2{font-size: 30px;letter-spacing: 3px;font-weight: 700;}
p{font-size: 10px;letter-spacing: 2px;line-height: 23px;font-weight: lighter;}


}
@media (min-width:513px) and (max-width:700px){
    .image{width: 350px;overflow: hidden;display: flex;flex-flow: column wrap;padding-right: 10px;}
    img{width: 350px ;}
    .content{ display: flex;justify-content: center;align-items: center;flex-flow: column nowrap;height: 100%;width: fit-content;}
    h2{font-size: 30px;letter-spacing: 3px;font-weight: 700;}
p{font-size: 10px;letter-spacing: 2px;line-height: 23px;font-weight: lighter;}
.logo{display: block;width: 100%;margin: auto auto;padding-left: 80px ;margin-bottom: 10px;}
.content{ display: flex;justify-content: center;align-items: center;flex-flow: column nowrap;height: 100%;width: 100%;}
ul{display: flex;gap: 40px;padding-right: 150px;padding-left: 50px;margin-top: 5px;width: 500px;margin: auto auto;}







}
@media (min-width:0px) and (max-width:513px){
    *{font-size: 12px;}
    .image{width: 220px;overflow: hidden;display: flex;flex-flow: row nowrap;translate: -10px 35px;}
    img{width: 100%;}
    
    h2{font-size: 20px;letter-spacing: 0px;font-weight: 700;}
p{font-size: 8px;letter-spacing: 2px;line-height: 23px;font-weight: lighter;}
.logo{display: block;width: 500px ;height: fit-content;translate: 50px 0px;padding-top: 10px;}
.content{ display: flex;justify-content: flex-start;align-items: flex-start;flex-flow: row wrap;height: 100%;width:300px;padding-top: 20px;align-self: flex-start;}
ul{display: flex;gap: 70px;margin-top: 5px;width: 100%;margin: auto auto;margin-top: 20px;translate: -20px 0px;gap: 25px;justify-content: space-evenly }



h2{margin-left: 50px;width: 40%;margin-top: 10px;margin-bottom: ;}
p{margin-left: 30px;width: 40%;height:80%;}
.talk{width:150% ;display: flex;flex-flow: column;justify-content: center;align-items: flex-start;height: 200px;overflow: hidden;padding-top: 30px;}
.container{height: 50%;width: 50%;padding-bottom: 120px;padding-left: 50px;margin-bottom: 30px;margin-top: -15px;}







}
@media (min-hieght:0px) and (max-width:656px)
{ .talk{width:150% ;display: flex;flex-flow: column;justify-content: center;align-items: flex-start;height: 200px;overflow: hidden;padding-top: 30px;
}
}